/* nav bar start */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0px;
    font-family: -apple-system, "Helvetica Neue", sans-serif, "Mier Book";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.5;
    text-align: left;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}

/* search box */
form {
    display: flex;
}

form>#submit {
    width: 100px;
    height: 30px;
    margin: auto 10px;
    border: none;
    background-color: white;
    color: gray;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#upperNavBar {
    display: flex;
    /* border: 1px dashed red; */
    justify-content: space-between;
    align-items: center;
}

#navRightSection {
    width: 40%;
    /* border: 1px dashed blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navRightSection>div>a>span {
    font-family: -apple-system, "Helvetica Neue", sans-serif, "Mier Book";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: rgb(122, 126, 127);
}

#navRightSection>div>a>span:hover {
    color: red;
}

#navRightSection>div>a {
    display: flex;
    text-decoration: none;
}

#navLeftSection {
    width: 40%;
    /* border: 1px dashed red; */
    display: flex;
}
#searchBoxDiv {
    display: flex;
    width: 60%;
    border-radius: 3px;
    border: 2px solid rgb(112, 112, 110);
}

#searchBoxDiv>div>img {
    width: 33px;
    margin-left: 5px;
    margin-right: 5px;
}

#searchBox {
    border: none;
    outline: none;
    height: 35px;
    width: 100%;
}

#verticleLine {
    width: 2px;
    height: 40px;
    font-family: -apple-system, "Helvetica Neue", sans-serif, "Mier Book";
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    font-weight: 400;
    box-sizing: border-box;
    border-right: 2px solid rgb(223, 223, 223);
}

#navRightSectionA,
#navRightSectionC {
    position: relative;
    display: inline-block;
}

#nav1dropDown1 {
    width: 250px;
    display: none;
    position: absolute;
    z-index: 100;
    background-color: rgb(246, 249, 252);
    box-shadow: rgb(151, 140, 140);
    border-radius: 15px;
}

#dropDownContent1 {
    width: 100%;
    padding: 5px 30px 20px 20px;
    line-height: 3;
}

#dropDownContent1 img {
    width: 70%;
}

#navRightSectionA:hover #nav1dropDown1 {
    display: block;
}

#dropDownContent2 {
    width: 100%;
    line-height: 1;
}

#dropDownContent2 h2 {
    font-size: 18px;
    color: rgb(61, 59, 59);
    font-weight: "demi";
}

#dropDownContent2 p {

    font-size: 12px;
    color: rgb(47, 47, 47);
    font-weight: "demi";
}

#dropDownContent2 button {
    width: 100%;
    padding: 10px 0px 10px 0px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(244, 51, 151);
    border-radius: 8px;
    font-size: 18px;
}

#dropDownContent2>a>div>img {
    width: 8%;
}

#dropDownContent2>a {
    text-decoration: none;
}

#dropDownContent2>a>div>span {
    font-size: 18px;
    color: rgb(79, 75, 75);
}

#nav1dropDown2 {
    width: 250px;
    display: none;
    position: absolute;
    padding: 5px 20px 10px 20px;
    /* z-index: 100;  */
    background-color: rgb(246, 249, 252);
    box-shadow: rgb(151, 140, 140);
    border-radius: 15px;
    left: -100px;
}

#navRightSectionC:hover #nav1dropDown2 {
    display: block;
}

#lowerNavBar {
    width: 100%;
    /* border: 1px dashed red; */
}

#subLowerNavBar {
    margin: auto;
    /* display: flex;
    justify-content: space-between; */
    width: 96%;
    /* border: 1px dashed green; */
}

#title>h2 {
    margin-left: 30px;
}
#wholeNavogationBar{
width: 99%;
margin: auto;
margin-top: 10px;
}
#upperNavBar {
width: 98%;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
}
#navRightSection {
width: 40%;
display: flex;
justify-content: space-around;
align-items: center;
}
#navRightSection>div>a>span{
font-family: -apple-system, "Helvetica Neue", sans-serif, "Mier Book";
font-size: 16px;
font-weight: 400;
line-height: 1.5;
text-align: center;
color: rgb(122, 126, 127);
}
#navRightSection>div>a>span:hover{
color: red;
}
#navRightSection>div>a{ 
display: flex;
text-decoration: none;
}
#navLeftSection {
width: 40%;
display: flex;
}
#searchBoxDiv {
display: flex;
width: 50%;
margin-left: 5px;
border-radius: 3px;
border: 1px solid rgb(133, 133, 130);
}
#searchBoxDiv >div>img{
width: 42px;
margin-left: 5px;
margin-right: 5px;
}
#searchBox {
border: none;
height: 45px;
width: 123%;
/* border: 1px solid; */
}
#submit{
    display:none ;
}

#verticleLine{
width: 2px ;
height: 40px;
font-family: -apple-system, "Helvetica Neue", sans-serif, "Mier Book";    
font-size: 16px;
letter-spacing: 0.5px;
line-height: 1.5;
font-weight: 400;
box-sizing: border-box;
border-right: 2px solid rgb(223, 223, 223);
}
#navRightSectionA,#navRightSectionC{
position: relative;
display: inline-block;
}
#nav1dropDown1{
width: 250px;
display: none;
position: absolute;
z-index: 100; 
background-color: rgb(246, 249, 252);
box-shadow: rgb(151, 140, 140);
border-radius: 15px;
}
#dropDownContent1{
width: 100%;
padding: 5px 30px 20px 20px;
line-height: 3;
}
#dropDownContent1 img{
width: 70%;
}
#navRightSectionA:hover #nav1dropDown1 {
display: block;
}
#dropDownContent2{
width: 100%;
line-height: 1;
}
#dropDownContent2 h2{
font-size: 18px;
color: rgb(61, 59, 59);
font-weight: "demi";
}
#dropDownContent2 p{

font-size: 12px;
color: rgb(47, 47, 47);
font-weight: "demi";
}
#dropDownContent2 button{
width: 100%;
padding: 10px 0px 10px 0px;
border: none;
color: rgb(255, 255, 255);
background-color: rgb(244,51,151);
border-radius: 8px;
font-size: 18px;
}
#dropDownContent2 >a>div>img{
width: 8%;
}
#dropDownContent2 >a{
text-decoration: none;
}
#dropDownContent2 >a>div>span{
font-size: 18px;
color: rgb(79, 75, 75);
}
#nav1dropDown2{
width: 250px;
display: none;
position: absolute;
padding: 5px 20px 10px 20px;
/* z-index: 100;  */
background-color: rgb(246, 249, 252);
box-shadow: rgb(151, 140, 140);
border-radius: 15px;
left: -100px;
}
#navRightSectionC:hover #nav1dropDown2 {
display: block;
}
hr{
    margin-top: 5px;
}
#subLowerNavBar{
margin: auto;
width: 98%;
background-color: rgb(255, 255, 255);
padding: 10px;

}
#subLowerNavBar>ul{
display: flex;
justify-content: space-between;
}
#subLowerNavBar>ul>li>a{
font-size: 16px;
color: rgb(51, 51, 51);
font-weight: 500;
font-style: normal;
line-height: 20px;

}
#subLowerNavBar>ul>li>a:hover{
color: rgb(244, 51, 151);
font-style: normal;
font-size: 17px;
font-weight: 600;
line-height: 20px;
}
#subLowerNavBar>ul>li:hover {
border-bottom: 2px solid rgb(244, 51, 151);
}

.dropDownDivItems{
display: flex;
justify-content: space-evenly;
padding: 20px;
}
.dropDownDiv{
width: 98%;
margin: auto;
margin-top: 2px;
right: 0%;
left: 0%;
transition: 0.5s;
position: absolute;
display: none;
background-color: rgb(254, 248, 248);
border: 1px solid rgb(160, 158, 158);
}
#subLowerNavBar>ul>li:hover .dropDownDiv{
display: block;
}
ul,li{
list-style: none;
}
a{
text-decoration: none;
}
.dropDownDivItems>div>h4{
font-size: 20px;
color: rgb(244, 51, 151);
font-weight: 600;
line-height: 20px;
font-family: "Mier demi";
}
.dropDownDivItems>div>ul>li>a{
font-size: 17px;
color: rgb(102, 102, 102);
font-weight: 450;
line-height: 33px;
}

/* nav bar end */


#main_container {
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
}

#option {
    width: 20%;
    height: 100vh;
    /* border: 1px dotted red; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-left: 30px;
    padding: 10px;
}

#mens_products {
    /* border: 1px dotted; */
    box-sizing: border-box;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 10px; */
    /* justify-content: space-between; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-size: 14.5px;
    /* background-color: white; */
}

/* All cards div */
.card {
    width: 90%;
    margin-bottom: 25px;
    /* height: 380px; */
    /* border: 1px solid blue; */
    padding-left: 5px;
    line-height: 16px;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* box-shadow:inset -10px -10px 15px rgba(255, 255, 255, 0.5), 
                inset 10px 10px 15px rgba(70, 70, 70, 0.12); */


}


/* images div */
.picture {
    /* border: 1px solid yellow; */
    /* height: 200px; */
    width: 95%;
    margin: 0px auto 20px auto;
}

/* image */
.card img {
    width: 100%;
    display: block;
    margin: 5px auto;
    border-radius: 18%;
}


/* rating box div */
.ratbox {
    /* border: 1px solid rgb(19, 19, 19); */
    display: flex;
    width: 27%;
    background-color: rgb(28, 203, 119);
    border-radius: 15px;
    /* margin-bottom: 5px; */
    /* padding: 2px; */
}

/* star image */
.ratbox>img {
    width: 30%;
    margin-right: 120px;
}

/* rating button */
.ratbox>button {
    border: none;
    width: 40px;
    background-color: rgb(28, 203, 119);
    color: white;
    font-weight: bold;
}

/* product details  */
.info>p {
    color: gray;
    margin: 5px 0px;
    /* line-height: 15px; */
}

.info>h3,
h4 {
    color: rgb(49, 47, 47);
    /* margin: 10px; */
    margin: 8px 0px;
}

.info>button {
    border: none;
    color: gray;
    padding: 4px;
    border-radius: 10px;
    font-size: 10px;
}

/* add to cart button */
.card>button {
    display: block;
    margin: 10px auto 5px;
    border: none;
    width: 45%;
    border-radius: 13px;
    padding: 6px;
    color: white;
    background-color: #ec0e6e;
    font-weight: bold;
    cursor: pointer;

}

/* Filtering Part  */
.sort,
.filter,
.filterbyprice,
.filterbyBrand,
.filterbyRating {
    width: 90%;
    padding: 10px;
    border: none;
    margin: 5px;
    font-family: "Raleway", sans-serif;
    color: rgb(66, 62, 62);
    font-weight: bold;
    /* font-size: medium; */
    cursor: pointer;
}

.sort,
.filter,
.filterbyprice,
.filterbyBrand,
.filterbyRating>option {
    color: rgb(102, 98, 98);
    /* font-weight: bold; */
    font-size: medium;
    cursor: pointer;
}
#option>select{
    
    outline: none;
}
#option>p {
    font-family: "Raleway", sans-serif;
    color: rgb(66, 62, 62);
    font-weight: bold;
    margin-left: 20px;
}

/* footerPart From Here */


#footerPart{
    margin: auto;
    width: 98%;

   margin-top: 40px;
}
#footerPartA{
    background-color: rgb(249,249,249);
    margin: auto;
   
    width: 98%;
}

#footerPartAin{
    width: 88%;
    margin: auto;
    display: flex;
   justify-content: space-between;
  
}
#footerPartAin p{
    color: rgb(102, 102, 102);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    font-family: "Mier book";
    margin: 0px;
    padding: 0px;
}
#footerPartAin>div>img{
    width: 45%;
}
#footerPartAin>div:nth-child(1){
    width: 30%;
}
#footerPartAin>div:nth-child(1)>h4{
    color: rgb(51, 51, 51);
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
}
#footerPartAin>div:nth-child(2){
    margin-top: 30px;
    width: 13%;
}
#footerPartAin>div:nth-child(3){
    margin-top: 30px;
    width: 15%;
}
#footerPartAin>div:nth-child(4){
    margin-top: 30px;
    line-height: 40px;
    width: 13%;
}
#footerPartAin>div:nth-child(5){
    margin-top: 30px;
    width: 25%;
}
#footerPartAin span{
    color: rgb(102, 102, 102);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-family: "Mier demi";
    margin: 0px;
    padding: 0px;
}
#footerPartAin h6{
    color: rgb(51, 51, 51);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 5  8px;
    font-family: "Mier bold";
    margin: 0px;
    padding: 0px;
}
#footerPartB{   
    margin-top: 20px;
    padding: 20px 0px 20px 0px;
    border: 1px solid ;
    border-radius: 8px;
}
#footerPartBa{
    width: 96%;
    margin: auto;
    display: flex;
    font-size: 24px;
    color: rgb(51, 51, 51);
    font-weight: 600;
    line-height: 34px;
    justify-content: space-between;

}
#footerPartBab{
    /* border: 2px dashed rgb(90, 22, 42); */
    width: 96%;
    margin: auto;
}


.footerItemTexth2{
    color: rgb(51, 51, 51);
    font-size: 20px;
}
.footerItemTextP{
    font-size: 16px;
    color: rgb(102, 102, 102);
}
.linkContainer a{
    color: rgb(244, 51, 151);
}

#footerLowerPSect>a{
    color: rgb(244, 51, 151);
    font-size: 20px;
    margin: 5px;
    font-weight: 600;
}
.linkkSection>div:nth-child(1){
    color: rgb(51, 51, 51);;
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 3px;
}
